<h1>New Recipe</h1>


<%=form_for @recipe do |r|%>
<%=r.label "User Name"%>
<%=r.collection_select :user_id, User.all, :id, :name%><br>
<%=r.label "Recipe Name"%>
<%=r.text_field :name%><br><br>
<%=r.label "Ingredients"%><br>
<%=r.fields_for :ingredients do |f|%>
<%=f.label :name%>
<%=f.text_field :name%><br>

<%end%>
<%=r.submit%>
<%end%>